<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot 기본 설정 로드 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 파일 Appender 설정: 기존 app.log 에 로그 남기기 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    	<file>logs/app.log</file>
    	<encoder>
    		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
    	</encoder>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    		<fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
    		<maxHistory>30</maxHistory>
    	</rollingPolicy>
    </appender>

	<appender name="DB_CUSTOM" class="com.example.ErrorLogProcessor.Config.DbLogAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level> <!-- WARN, ERROR, FATAL만 DB에 저장 -->
		</filter>
	</appender>

    <root level="INFO">
    <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="DB_CUSTOM"/>
    </root>

</configuration>